<p>update-company works!</p>

    






                        

 <div mat-dialog-content>
     <div class=" companyCode">
        
            <h6><li>companyCode</li></h6><h4>
                {{newdata.companyCode}}</h4>
        
    </div>

    <div class="companyName">
        <mat-form-field >
            
            <input matInput placeholder="companyName" name="companyName" [(ngModel)]="newdata.companyName">
            
        </mat-form-field>
     </div>
    <div class="companyCeo">
        <mat-form-field>
            <input matInput placeholder="companyCeo" name="companyCeo" [(ngModel)]="newdata.companyCeo">
        </mat-form-field>
    </div>
  
    
    <div class="companyTurnover">
        <mat-form-field>
            <input matInput placeholder="companyTurnover" name="companyTurnover" [(ngModel)]="newdata.companyTurnover">
        </mat-form-field>
    </div>

    <div class="companyWebsite">
        <mat-form-field>
            <input matInput placeholder="companyWebsite" name="companyWebsite" [(ngModel)]="newdata.companyWebsite">
        </mat-form-field>
    </div>

  <!--  <div class="stockExchange">
        <mat-form-field>
            <input matInput placeholder="{{newdata.stockExchange}}" name="stockExchange" [(ngModel)]="newdata. stockExchange">
        </mat-form-field>
    </div>-->

    <div class="stockExchange">
        <mat-form-field>
            <mat-select placeholder="stockExchange" name="stockExchange" [(ngModel)]="newdata. stockExchange" >
                <mat-option value="BSE">BSE</mat-option>
                <mat-option value="NSE">NSE</mat-option>
            </mat-select>

        </mat-form-field>
    </div>


   <!-- <div class=" stockPrice">
        <mat-form-field>
            <input matInput placeholder="{{newdata.stockPrice}}" name=" stockPrice" [(ngModel)]="newdata. stockPrice">
        </mat-form-field>
    </div> -->
</div>  
    <mat-action-row>
        <div class="conatiner-fluid padding">
            <div class="row">
                <div class="col-md-2" style="margin-left: 60px">
                    <button mat-raised-button color="primary" (click)="updateCompany(newdata.companyCode)">SubmitUpdatecompany</button>
                </div>
            </div>
        </div>
    </mat-action-row>
  


<div mat-dialog-actions>
    
    <button mat-button color="primary"  cdkFocusInitial>close</button>
  </div>  
