 <app-header></app-header>




  <!--  <app-company></app-company>
    <app-stock></app-stock> -->
    <h1>
    <div>
        
        <nav>
            <mat-toolbar>
                 <span>
                     <nav class="navbar navbar-expand-lg navbar-light bg-light">
                         

                             <li><a routerLink="/login"><button type="button" class="btn btn-primary btn-lg">Login</button></a>
                             -<a routerLink="<app-company></app-company>"> <button type="button" class="btn btn-danger btn-lg">Company</button></a>
                             -<a routerLink="/stockDetail"><button type="button" class="btn btn-dark btn-lg"> stock</button></a></li>
                         
                            </nav>            
                 </span>                            
                 
             </mat-toolbar>
       </nav>
    
    </div>
</h1>
<router-outlet>
  
</router-outlet>

